*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Arial',sans-serif;
    padding-top: 30vh;
}

.logo{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(29, 29, 29);
}

.startButton{
    font-size: 1.5rem;
    background-color: rgb(32, 32, 32);
    padding: 1rem;
    padding-inline: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
}

.startButton a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.userManual{
    padding-top: 1rem;
}

.userManual a {
    color: rgb(51, 115, 255);
}

.about{
    padding-bottom: 1rem;
    color: rgb(141, 141, 141);
    width: 30vw;
}